<!--First columnn-->
<div class="col-lg-4">
    <!--Card-->
    <div class="card mb-r wow fadeIn" data-wow-delay="0.2s">

        <!--Card image-->
        <img class="img-fluid"
             src="%imgURL%"
             alt="%nomArticle%"
             href="%urlClickImage%">

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h5 class="font-bold">
                <strong>%nomArticle%</strong>
            </h5>
            <hr>
            <h4>
                <strong>%prixArticle%€</strong>
            </h4>
            <!--Text-->
            <p class="card-text mt-4">Some quick example text to build on the card title.
            </p>

            <a class="btn btn-info btn-sm"
               href="%urlClickImage%">Mettre dans le panier</a>